<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #333;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ff0000;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ff6666;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>
</head>
<body>

<h2>2024 Event's</h2>

<div class="tab">
  <button class="tablinks" onclick="openCTF(event, 'StrangerCase3')">Stranger Case III</button>
  <button class="tablinks" onclick="openCTF(event, 'punkctf2024')">Punk DevSecOps</button>
  <button class="tablinks" onclick="openCTF(event, 'insomnihack2024')">Insomni'hack</button>
  <button class="tablinks" onclick="openCTF(event, 'UTCTF')">UTCTF</button>
  <button class="tablinks" onclick="openCTF(event, 'texsaw')">TexSaw</button>
  <button class="tablinks" onclick="openCTF(event, 'CyberApocalypse')">CyberApocalypse</button>
  <button class="tablinks" onclick="openCTF(event, 'Osu')">Osu!</button>
</div>

<div id="StrangerCase3" class="tabcontent">
  <h3>Stranger Case III</h3>
  <h4>Result :</h4>
    <div>
    	<img src="../../img/2024_results/StrangerCase3_result.png" alt="Result Stranger Case III" />
    </div>
  <h4>Scoreboard :</h4>
    <div>
    	<img src="../../img/2024_results/StrangerCase3_Scoreboard.jpeg" alt="Scoreboard Stranger Case III" />
    </div>
  <h4>Report :</h4>
  <p align="justify">Because this CTF is a French event, we needed to make the report in french.</p>
  <p align="justify">At the time of the CTF, we wasn't able to finish the Challenge and the Report. Our position is based on our unfinished Report.</p>
  <p align="justify">But we continued the Challenge, and finished our Report after it.</p>
  <p align="justify">We learned our misstake, as example we didn't have a mindmap, and the Report isn't made in chornological order, we followed a basic CTF WriteUp logic as it was our first OSINT CTF, and first OSINT Report.</p>
  <p align="justify">This is our final Report, and we are planning to make it better next StrangerCase event.</p>
  <ul>
      <li><a href="https://zell07.github.io/" target="_blank" rel="noopener noreferrer">Zell</a> - Challenge Solver</li>
      <li><a href="https://v0lk3n.github.io/" target="_blank" rel="noopener noreferrer">V0lk3n</a> - Report Maker based on Zell notes</li>
  </ul>
  <p>Special Thanks to :</p>
  <ul>
      <li><a href="https://twitter.com/Neosquall_" target="_blank" rel="noopener noreferrer">Neosquall</a>, which helped us with the corrections on the report.</li>
      <li><a href="https://twitter.com/Stranger_Case" target="_blank" rel="noopener noreferrer">StrangerCase Team</a>, for the Event organization and for giving a correction/feedback on our second report.</li>
  </ul><br>
  <object
      type="application/pdf"
      data="../../files/2024_results/StrangerCase3_2024/StrangerCase3-Report.pdf"
      width="730"
      height="1000"
      align="middle"
  >
  </object>
</div>

<div id="punkctf2024" class="tabcontent">
  <h3>Punk Security DevSecOps CTF 2024</h3>
  <h4>Result :</h4>
    <div>
    	<img src="../../img/2024_results/PunkCTF2024_result.png" alt="Result Punk Security DevSecOps CTF 2024" />
    </div>
  <h4>WriteUp :</h4>
  <p>Unfortunately, no WriteUp for this event.</p>
</div>

<div id="insomnihack2024" class="tabcontent">
  <h3>Insomni'hack CTF 2024</h3>
  <h4>Result :</h4>
    <div>
    	<img src="../../img/2024_results/insomnihack_ctf2024_result.png" alt="Result Insomni'hack CTF 2024" />
    </div>
  <h4>WriteUp :</h4>
  <p>You can find V0lk3n WriteUp on <a href="https://v0lk3n.github.io/writeup/Insomihack24/InsomnihackCTF2024-WriteUp" target="_blank" rel="noopener noreferrer">his blog</a>.</p>
  <ul>
    <li><a href="https://v0lk3n.github.io/writeup/Insomihack24/InsomnihackCTF2024-WriteUp#textbook" target="_blank" rel="noopener noreferrer">Crypto : Textbook</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/Insomihack24/InsomnihackCTF2024-WriteUp#LetMeIn" target="_blank" rel="noopener noreferrer">Web : LetMeIn</a></li>
  </ul> 
</div>

<div id="UTCTF" class="tabcontent">
  <h3>UTCTF 2024</h3>
  <h4>Result :</h4>
    <div>
    	<img src="../../img/2024_results/UTCTF2024_result.png" alt="Result UTCTF 2024" />
    </div>
  <h4>WriteUp :</h4>
  <p>You can find V0lk3n WriteUp on <a href="https://v0lk3n.github.io/writeup/UTCTF2024/UTCTF2024-WriteUp" target="_blank" rel="noopener noreferrer">his blog</a>.</p>
  <ul>
    <li><a href="https://v0lk3n.github.io/writeup/UTCTF2024/UTCTF2024-WriteUp#CookieClicker" target="_blank" rel="noopener noreferrer">Web : Beginner - Off-Brand Cookie Clicker</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/UTCTF2024/UTCTF2024-WriteUp#schr%C3%B6dinger" target="_blank" rel="noopener noreferrer">Web : Schrödinger</a></li> 
    <li><a href="https://v0lk3n.github.io/writeup/UTCTF2024/UTCTF2024-WriteUp#Contracts" target="_blank" rel="noopener noreferrer">Forensics : Contracts</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/UTCTF2024/UTCTF2024-WriteUp#FruitDeals" target="_blank" rel="noopener noreferrer">Reverse : Fruit Deals</a></li>
  </ul>
  <p>You can find Zell WriteUp on <a href="https://zell07.github.io/WriteUps/UTCTF2024-Writeup/UTCTF2024-WriteUp" target="_blank" rel="noopener noreferrer">his blog</a>.</p>
  <ul>
    <li><a href="https://zell07.github.io/WriteUps/UTCTF2024-Writeup/UTCTF2024-WriteUp#osint1" target="_blank" rel="noopener noreferrer">OSINT : OSINT 1</a></li>
    <li><a href="https://zell07.github.io/WriteUps/UTCTF2024-Writeup/UTCTF2024-WriteUp#osint2" target="_blank" rel="noopener noreferrer">OSINT : OSINT 2</a></li>
    <li><a href="https://zell07.github.io/WriteUps/UTCTF2024-Writeup/UTCTF2024-WriteUp#osint3" target="_blank" rel="noopener noreferrer">OSINT : OSINT 3</a></li>
  </ul>
</div>

<div id="texsaw" class="tabcontent">
  <h3>Texas Security Awareness Week 2024</h3>
  <h4>Result :</h4>
    <div>
    	<img src="../../img/2024_results/texsaw_ctf_2024_result.png" alt="Result TexSaw CTF 2024" />
    </div>
  <h4>WriteUp :</h4>
  <p>You can find V0lk3n WriteUp on <a href="https://v0lk3n.github.io/writeup/texsaw2024/texsaw2024-WriteUp" target="_blank" rel="noopener noreferrer">his blog</a>.</p>
  <ul>
    <li><a href="https://v0lk3n.github.io/writeup/texsaw2024/texsaw2024-WriteUp#CrazyCookie" target="_blank" rel="noopener noreferrer">Web : Crazy Cookie</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/texsaw2024/texsaw2024-WriteUp#insecure" target="_blank" rel="noopener noreferrer">Web : Insecure Social Media Login</a></li> 
    <li><a href="https://v0lk3n.github.io/writeup/texsaw2024/texsaw2024-WriteUp#ask" target="_blank" rel="noopener noreferrer">Web : Ask, and It Shall Be Given to You</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/texsaw2024/texsaw2024-WriteUp#ForkedCave" target="_blank" rel="noopener noreferrer">Forensics : The Forked Cave</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/texsaw2024/texsaw2024-WriteUp#malwhere" target="_blank" rel="noopener noreferrer">Forensics : MalWhere?</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/texsaw2024/texsaw2024-WriteUp#Campus" target="_blank" rel="noopener noreferrer">OSINT : Check Out Our Campus Orgs</a></li>
  </ul> 
</div>

<div id="CyberApocalypse" class="tabcontent">
  <h3>HTB Cyber Apocalypse : Hacker Royale</h3>
  <h4>Result :</h4>
    <div>
    	<img src="../../img/2024_results/HTB_CA_2024_result.png" alt="Result HTB Cyber Apocalypse CTF 2024" />
    </div>
  <h4>WriteUp :</h4>
  <p>You can find V0lk3n WriteUp on <a href="https://v0lk3n.github.io/writeup/HTB-CyberApocalypse2024/HTB-CyberApocalypse2024-WriteUp" target="_blank" rel="noopener noreferrer">his blog</a>.</p>
  <ul>
    <li><a href="https://v0lk3n.github.io/writeup/HTB-CyberApocalypse2024/HTB-CyberApocalypse2024-WriteUp#fakeboost" target="_blank" rel="noopener noreferrer">Forensics : Fake Boost</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/HTB-CyberApocalypse2024/HTB-CyberApocalypse2024-WriteUp#phreaky" target="_blank" rel="noopener noreferrer">Forensics : Phreaky</a></li> 
    <li><a href="https://v0lk3n.github.io/writeup/HTB-CyberApocalypse2024/HTB-CyberApocalypse2024-WriteUp#datasiege" target="_blank" rel="noopener noreferrer">Forensics : Data Siege</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/HTB-CyberApocalypse2024/HTB-CyberApocalypse2024-WriteUp#packed" target="_blank" rel="noopener noreferrer">Reverse : Packed Awawy</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/HTB-CyberApocalypse2024/HTB-CyberApocalypse2024-WriteUp#flagcommand" target="_blank" rel="noopener noreferrer">Web : Flag Command</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/HTB-CyberApocalypse2024/HTB-CyberApocalypse2024-WriteUp#korpterminal" target="_blank" rel="noopener noreferrer">Web : KORP Terminal</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/HTB-CyberApocalypse2024/HTB-CyberApocalypse2024-WriteUp#timekorp" target="_blank" rel="noopener noreferrer">Web : TimeKORP</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/HTB-CyberApocalypse2024/HTB-CyberApocalypse2024-WriteUp#labyrinth" target="_blank" rel="noopener noreferrer">Web : Labyrinth Linguist</a></li>
  </ul>
</div>

<div id="Osu" class="tabcontent">
  <h3>OSU!Gaming CTF 2024</h3>
  <h4>Result :</h4>
    <div>
    	<img src="../../img/2024_results/osu_ctf_2024_result.png" alt="Result OSU! CTF 2024" />
    </div>
  <h4>WriteUp :</h4>
  <p>You can find V0lk3n WriteUp on <a href="https://v0lk3n.github.io/writeup/Osu!CTF2024/Osu!CTF2024-WriteUp" target="_blank" rel="noopener noreferrer">his blog</a>.</p>
  <ul>
    <li><a href="https://v0lk3n.github.io/writeup/Osu!CTF2024/Osu!CTF2024-WriteUp#base727" target="_blank" rel="noopener noreferrer">Crypto : base 727</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/Osu!CTF2024/Osu!CTF2024-WriteUp#rossau" target="_blank" rel="noopener noreferrer">Crypto : ROSSAU</a></li> 
    <li><a href="https://v0lk3n.github.io/writeup/Osu!CTF2024/Osu!CTF2024-WriteUp#Nathan-on-osu" target="_blank" rel="noopener noreferrer">Forensics : Nathan on Osu!</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/Osu!CTF2024/Osu!CTF2024-WriteUp#Volatile-Map" target="_blank" rel="noopener noreferrer">Forensics : Volatile Map</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/Osu!CTF2024/Osu!CTF2024-WriteUp#wysi" target="_blank" rel="noopener noreferrer">OSINT : When You See It</a></li>
  </ul>
</div>

<script>
function openCTF(evt, ctfName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(ctfName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
   
</body>
</html> 
