<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #333;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ff0000;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ff6666;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>
</head>
<body>

<h2>2023 Event's</h2>

<div class="tab">
  <button class="tablinks" onclick="openCTF(event, 'ByuCTF')">ByuCTF</button>
  <button class="tablinks" onclick="openCTF(event, 'DeadSecCTF')">DeadSec</button>
  <button class="tablinks" onclick="openCTF(event, 'HeroCTF')">Hero v5</button>
  <button class="tablinks" onclick="openCTF(event, 'PwnMe')">PwnMe</button>
</div>

<div id="ByuCTF" class="tabcontent">
  <h3>BYUCTF 2023</h3>
  <h4>Result :</h4>
  <p>TODO
  <h4>WriteUp :</h4>
  <p>You can find V0lk3n WriteUp on <a href="https://v0lk3n.github.io/writeup/ByuCTF-2023/ByuCTF2023-WriteUp" target="_blank" rel="noopener noreferrer">his blog</a>.</p>
  <ul>
    <li><a href="https://v0lk3n.github.io/writeup/ByuCTF-2023/ByuCTF2023-WriteUp#urmom1" target="_blank" rel="noopener noreferrer">Web : urmombotnetdotnet.com 1</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/ByuCTF-2023/ByuCTF2023-WriteUp#urmom2" target="_blank" rel="noopener noreferrer">Web : urmombotnetdotnet.com 2</a></li> 
    <li><a href="https://v0lk3n.github.io/writeup/ByuCTF-2023/ByuCTF2023-WriteUp#urmom3" target="_blank" rel="noopener noreferrer">Web : urmombotnetdotnet.com 3</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/ByuCTF-2023/ByuCTF2023-WriteUp#urmom4" target="_blank" rel="noopener noreferrer">Web : urmombotnetdotnet.com 4</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/ByuCTF-2023/ByuCTF2023-WriteUp#urmom5" target="_blank" rel="noopener noreferrer">Web : urmombotnetdotnet.com 5</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/ByuCTF-2023/ByuCTF2023-WriteUp#Mi6-1" target="_blank" rel="noopener noreferrer">Pentest : Mi6configuration 1</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/ByuCTF-2023/ByuCTF2023-WriteUp#Mi6-2" target="_blank" rel="noopener noreferrer">Pentest : Mi6configuration 3</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/ByuCTF-2023/ByuCTF2023-WriteUp#Mi6-3" target="_blank" rel="noopener noreferrer">Pentest : Mi6coniguration 4</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/ByuCTF-2023/ByuCTF2023-WriteUp#006-1" target="_blank" rel="noopener noreferrer">Misc : 006 - 1</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/ByuCTF-2023/ByuCTF2023-WriteUp#006-2" target="_blank" rel="noopener noreferrer">Misc : 006 - 2</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/ByuCTF-2023/ByuCTF2023-WriteUp#006-3" target="_blank" rel="noopener noreferrer">Misc : 006 - 3</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/ByuCTF-2023/ByuCTF2023-WriteUp#Ducky1" target="_blank" rel="noopener noreferrer">Reverse : Ducky 1</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/ByuCTF-2023/ByuCTF2023-WriteUp#Obfuscator" target="_blank" rel="noopener noreferrer">Reverse : ObfuscJStore</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/ByuCTF-2023/ByuCTF2023-WriteUp#bing" target="_blank" rel="noopener noreferrer">Forensics : bing chilling</a></li>
  </ul>
</div>

<div id="DeadSecCTF" class="tabcontent">
  <h3>DeadSec CTF 2023</h3>
  <h4>Result :</h4>
  <p>TODO
  <h4>WriteUp :</h4>
  <p>You can find V0lk3n WriteUp on <a href="https://v0lk3n.github.io/writeup/DeadSecCTF-2023/DeadSecCTF2023-WriteUp" target="_blank" rel="noopener noreferrer">his blog</a>.</p>
  <ul>
    <li><a href="https://v0lk3n.github.io/writeup/DeadSecCTF-2023/DeadSecCTF2023-WriteUp#Welcome1" target="_blank" rel="noopener noreferrer">Welcome : Welcome 1</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/DeadSecCTF-2023/DeadSecCTF2023-WriteUp#Welcome2" target="_blank" rel="noopener noreferrer">Welcome : Welcome 2</a></li> 
    <li><a href="https://v0lk3n.github.io/writeup/DeadSecCTF-2023/DeadSecCTF2023-WriteUp#FRSS" target="_blank" rel="noopener noreferrer">Web : FRSS</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/DeadSecCTF-2023/DeadSecCTF2023-WriteUp#Bing" target="_blank" rel="noopener noreferrer">Web : Bing</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/DeadSecCTF-2023/DeadSecCTF2023-WriteUp#XXE1" target="_blank" rel="noopener noreferrer">Web : XXE1</a></li>
  </ul>
</div>

<div id="HeroCTF" class="tabcontent">
  <h3>HeroCTF v5</h3>
  <h4>Result :</h4>
  <p>TODO
  <h4>WriteUp :</h4>
  <p>You can find V0lk3n WriteUp on <a href="https://v0lk3n.github.io/writeup/HeroCTFv5/HeroCTFv5-SystemCollection" target="_blank" rel="noopener noreferrer">his blog</a>.</p>
  <ul>
    <li><a href="https://v0lk3n.github.io/writeup/HeroCTFv5/HeroCTFv5-SystemCollection#chmod" target="_blank" rel="noopener noreferrer">System : Chm0d</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/HeroCTFv5/HeroCTFv5-SystemCollection#sudoklu" target="_blank" rel="noopener noreferrer">System : SUDOkLu</a></li> 
    <li><a href="https://v0lk3n.github.io/writeup/HeroCTFv5/HeroCTFv5-SystemCollection#lfm0" target="_blank" rel="noopener noreferrer">System : LFM0 - Your mission, should you choose to accept it</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/HeroCTFv5/HeroCTFv5-SystemCollection#lfm1" target="_blank" rel="noopener noreferrer">System : LFM1 - Bug Hunting</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/HeroCTFv5/HeroCTFv5-SystemCollection#lfm2" target="_blank" rel="noopener noreferrer">System : LFM2 - A woman's weapon</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/HeroCTFv5/HeroCTFv5-SystemCollection#lfm3" target="_blank" rel="noopener noreferrer">System : LFM3 - admin:admin</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/HeroCTFv5/HeroCTFv5-SystemCollection#lfm4" target="_blank" rel="noopener noreferrer">System : LFM4 - Put the past behind</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/HeroCTFv5/HeroCTFv5-SystemCollection#unintended" target="_blank" rel="noopener noreferrer">System : LFM Unintended Way - Get a shell as Dave</a></li>
  </ul>
</div>

<div id="PwnMe" class="tabcontent">
  <h3>PwnMe Qualifications : "8 bits"</h3>
  <h4>Result :</h4>
  <p>TODO
  <h4>WriteUp :</h4>
  <p>You can find V0lk3n WriteUp on <a href="https://v0lk3n.github.io/writeup/PwnMeCTF-2023/PwnMeCTF2023-OSINT_Collection" target="_blank" rel="noopener noreferrer">his blog</a>.</p>
  <ul>
    <li><a href="https://v0lk3n.github.io/writeup/PwnMeCTF-2023/PwnMeCTF2023-OSINT_Collection#SocialMedia" target="_blank" rel="noopener noreferrer">OSINT : Social Media</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/PwnMeCTF-2023/PwnMeCTF2023-OSINT_Collection#NewbieDev" target="_blank" rel="noopener noreferrer">OSINT : Newbie Dev</a></li> 
    <li><a href="https://v0lk3n.github.io/writeup/PwnMeCTF-2023/PwnMeCTF2023-OSINT_Collection#FrenchDream" target="_blank" rel="noopener noreferrer">OSINT : French Dream</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/PwnMeCTF-2023/PwnMeCTF2023-OSINT_Collection#Europe" target="_blank" rel="noopener noreferrer">OSINT : Europe</a></li>
    <li><a href="https://v0lk3n.github.io/writeup/PwnMeCTF-2023/PwnMeCTF2023-OSINT_Collection#AmericanDream" target="_blank" rel="noopener noreferrer">OSINT : American Dream</a></li>
  </ul>
</div>

<script>
function openCTF(evt, ctfName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(ctfName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
   
</body>
</html> 
